<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/frontend/styles.css">
    <title>Home Page</title>
  </head>
  <body>
    <div id="widget-list" class="container">
      
    </div>
    <script type="text/javascript">
      getWidgets()
      function getWidgets(){
        var wrapper = document.getElementById("widget-list")
        var url = "https://start-page.p3rplexed.repl.co/api/widget_list/"
        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
          var list = data
          for (var i in list){
            var colors = ["red", "orange", "yellow", "green", "blue", "purple"]
            var color = Math.floor(Math.random()*6)
            var widget = `
            <div class="widget ${colors[color]}">
              <a href='${list[i].url}' class='link'>
                <h2 class="widget-title">${list[i].title}</h2>
              </a>
            </div>
          `
            wrapper.innerHTML += widget
          }
        })
      }
    </script>
  </body>
</html>